    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* ? mobile CARDS---------------------------------------------------------------- */
    
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
    
    @media (max-width: 60em) {
        .grid {
            grid-gap: 3rem;
        }
    }
    
    .grid__item {
        background-color: #fff;
        border-radius: .4rem;
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.2s;
        height: 20vh;
        width: 20vh;
    }
    
    .grid__item:hover {
        transform: translateY(-0.5%);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
    }
    
    .card__img {
        display: block;
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    
    .card__content {
        padding: 10px;
        height: 50%;
        font-size: 20px;
    }
    
    .card__header {
        font-size: 20px;
        font-weight: 500;
        color: #0d0d0d;
    }
    
    .card__text {
        font-size: 10px;
        letter-spacing: .1rem;
        line-height: 1.7;
        color: #3d3d3d;
        margin-bottom: 2.5rem;
    }
    
    .card__btn {
        display: block;
        width: 50%;
        padding: 10px;
        font-size: 10px;
        text-align: center;
        color: #3363ff;
        background-color: #e6ecff;
        border: none;
        border-radius: .4rem;
        transition: 0.2s;
        cursor: pointer;
    }
    
    .card__btn span {
        margin-left: 1rem;
        transition: 0.2s;
    }
    
    .card__btn:hover,
    .card__btn:active {
        background-color: #dce4ff;
    }
    
    .card__btn:hover span,
    .card__btn:active span {
        margin-left: 1.5rem;
    }
    /* ? mobile CARDS---------------------------------------------------------------- */
    
    .desktop {
        display: block;
    }
    
    #main {
        height: 100%;
    }
    
    .LatestPost {
        display: block;
    }
    
    .modal-backdrop {
        z-index: -1;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    #navBar {
        z-index: 1;
        display: flex;
        background-color: rgba(0, 0, 0, 0.8);
        height: 60px;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
        /* background: #333; */
        position: fixed;
        top: 0px;
        /* box-shadow: 0px 1px 200px 1px  #F2C36B; */
    }
    
    .readMoreNavBar {
        display: flex;
        background: #F26937;
        transition: 0.3sec;
        height: 60px;
        justify-content: space-around;
        align-items: center;
    }
    
    .logo {
        width: 20%;
    }
    
    .content {
        width: 70%;
        z-index: 3;
        padding: 5px;
        margin-top: 11px;
    }
    
    .searchBar {
        width: 20%;
        display: flex;
        flex-direction: row;
    }
    
    .list {
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        z-index: 2;
    }
    
    .welcome {
        color: #F2C36B;
        font-size: 60px;
        position: relative;
        top: 190px;
        font-family: 'Roboto Slab', serif;
    }
    
    .typeWriterDiv {
        color: #F2C36B;
        font-size: 30px;
        position: relative;
        top: 150px;
        font-family: 'Roboto Slab', serif;
    }
    
    #typeWriter {
        position: relative;
        font-size: 30px;
    }
    
    #typeWriter::after {
        content: "";
        position: absolute;
        margin-top: 10px;
        width: 10px;
        height: 35px;
        border-right: 2px solid white;
        animation: blink 0.5s infinite ease;
    }
    
    .mobileViewAll {
        display: none;
    }
    
    .mobileViewArduinoProject {
        display: none;
    }
    
    .mobileViewIOT {
        display: none;
    }
    
    .mobileViewBasic {
        display: none;
    }
    
    .mobileViewOther {
        display: none;
    }
    
    @keyframes blink {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /* parallex effect */
    
    .parallexOne {
        width: 100%;
        height: 500px;
        background-image: url(images/back.jpg);
        background-repeat: no-repeat;
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .parallexTwo {
        width: 100%;
        height: 900px;
        display: block;
        background: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .parallex3 {
        width: 100%;
        height: 900px;
        background-image: url(images/lightBasicElectronics.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .parallex4 {
        width: 100%;
        height: 900px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/IOTlighten.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .form-control:focus {
        border-color: #f2c36b;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f2c36b;
    }
    /* footrer */
    
    .footer {
        display: flex;
        background: rgb(0, 0, 0, 0.8);
        color: #f2c36b;
        width: 100vw;
        height: 10vh;
        position: relative;
        justify-content: center;
        align-items: flex-end;
    }
    /* card hover effect */
    
    .card:hover {
        -webkit-box-shadow: 7px 38px 54px 1px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: 7px 38px 54px 1px rgba(0, 0, 0, 0.52);
        box-shadow: 7px 38px 54px 1px rgba(0, 0, 0, 0.52);
    }
    
    .pagination ul {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
    .pagination li {
        display: inline;
    }
    
    .pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
    /*  */
    
    .pagination li.active a {
        background-color: #f2c36b;
        color: white;
    }
    
    .pagination li:hover:not(.active) a {
        background-color: #ddd;
    }
    
    .activePage a {
        color: black !important;
    }
    
    .nav-links {
        color: #F2C36B;
        font-size: 2.5vh;
        letter-spacing: 4px;
        /* font-weight: bold; */
        font-family: 'Play', sans-serif;
    }
    
    .mainColor {
        color: #F2C36B;
    }
    
    #about {
        margin-top: 20px;
        z-index: 2;
    }
    /* !For input form control classes */
    
    .successInput {
        border-color: green;
        opacity: 0.5;
    }
    
    .wrongInputFile {
        color: red;
    }
    
    .wrongInput {
        border-color: red;
        opacity: 0.5;
    }
    /* ! For res ponsiveness of websiete ------------------------------------------------------------------------------------------------------------------------------*/
    
    .burger {
        height: 30px;
        color: #f2c36b;
        margin-right: 20px;
        display: none;
    }
    
    #mobileNav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        z-index: 1;
    }
    
    #top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
        height: 30px;
    }
    
    #mobileNav {
        display: none;
    }
    
    .desktopViewSignUpForm {
        display: block;
    }
    
    #mobileSearchBar {
        display: none;
    }
    
    #slider {
        display: none;
    }
    
    #arduinoProject {
        position: relative;
        height: 200px;
    }
    
    .mobile {
        display: none;
    }
    
    #Read_more_heading {
        font-size: 10vh;
    }
    
    #Read_more_description {
        font-size: 5vh;
    }
    
    #Read_more_jumbotron {
        height: 40vh;
    }
    
    #cover_img {
        height: 80vh;
    }
    
    .content_img {
        height: 70vh;
    }
    
    #font_about {
        font-size: calc(3vh + 10px + 10px + 10px + 10px);
    }
    /* .searchBar{
    display: none;
  
  } */
    /* *-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    
    @media (max-width: 1200px) {
        #cover_img {
            height: auto;
            width: 100vw;
        }
        .content_img {
            height: auto;
            width: 90vw;
        }
        .mobile {
            display: block;
        }
        #mobileNav {
            display: flex;
            width: 100vw;
            justify-content: start;
            height: 60px;
            background-color: black;
        }
        .logo {
            width: 20%;
        }
        .search {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            height: 20px;
        }
        .burger {
            display: flex;
            height: 20px;
            width: 50%;
            justify-content: flex-start;
        }
        #top {
            display: flex;
            height: 30px;
            justify-content: space-around;
            flex-direction: row;
        }
        #slider {
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            flex-direction: column;
            justify-items: space-around;
            width: 50%;
            height: 100%;
            position: fixed;
            top: 0px;
            bottom: 0px;
            z-index: 2;
            font-size: 10px;
            overflow-y: scroll;
        }
        .nav-links {
            height: 90px;
        }
        .mobileList {
            height: 100%;
            display: flex;
            flex-direction: column;
            /* flex-direction: column; */
            justify-content: space-around;
            justify-items: space-around;
            align-content: center;
            height: 100%;
            width: 100%;
            margin-left: 20%;
            list-style: none;
            font-family: 'Play', sans-serif;
            font-size: 5vh;
        }
        .welcome {
            font-size: 40px;
            top: 150px;
        }
        .typeWriterDiv {
            top: 120px;
            font-size: 10px;
        }
        .jumbotron {
            height: 150px;
        }
        .mobileViewAll {
            display: block;
            width: 90%;
            display: flex;
            flex-direction: column;
            /* height: 80vh;
            overflow: hidden;
            overflow-y: scroll; */
        }
        .desktop {
            display: none;
        }
        .page {
            margin-bottom: 250px;
            display: none;
        }
        .basic {
            display: none;
            margin-top: 0px;
        }
        .IOT {
            display: none;
        }
        .arduino {
            display: none;
        }
        .other {
            display: none;
        }
        /* ? >>>>>>>>>>>>>>>>> */
        #navBar {
            display: none;
        }
        #arduinoProject {
            position: relative;
            height: 200px;
        }
        #about {
            margin-top: 40px;
            height: 50vh;
        }
        #font_about {
            font-size: 2vh;
        }
        .img {
            height: 50px;
        }
        .thumbnailMob {
            width: 100%;
        }
        .latestMob {
            height: 300px;
        }
        .mobContainer {
            display: flex;
            flex-direction: column;
            padding: 0px 50px 0px 50px;
        }
        .postMobile {
            display: grid;
            grid-template-columns: 35% 55%;
            width: 90%;
            margin-left: 5%;
        }
        .descText {
            font-size: 1.5em;
        }
        .mobViewContent {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            position: relative;
        }
        #Read_more_heading {
            font-size: 5vh;
        }
        #Read_more_description {
            font-size: 2.5vh;
        }
        #Read_more_jumbotron {
            height: 25vh;
        }
        .text-dark {
            font-size: 2.0em;
        }
    }
    
    @media screen and (max-width: 900px) and (max-height:900px) {
        .mobile {
            display: block;
        }
        #mobileNav {
            display: flex;
            width: 100%;
            justify-content: start;
            height: 60px;
            background-color: black;
        }
        .logo {
            width: 20%;
        }
        .search {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            height: 20px;
        }
        .burger {
            display: flex;
            height: 20px;
            width: 50%;
            justify-content: flex-start;
        }
        .descText {
            font-size: 1.5em;
        }
        #top {
            display: flex;
            height: 30px;
            justify-content: space-around;
            flex-direction: row;
        }
        #slider {
            background-color: rgb(0, 0, 0, 0.8);
            display: none;
            flex-direction: column;
            justify-items: space-around;
            width: 50%;
            height: 100%;
            font-size: 10px;
        }
        .nav-links {
            height: 90px;
        }
        #mobileList {
            height: 100%;
            display: flex;
            flex-direction: column;
            /* flex-direction: column; */
            justify-content: space-around;
            justify-items: space-around;
            align-content: center;
            height: 100%;
            width: 50%;
        }
        .welcome {
            font-size: 40px;
            top: 150px;
        }
        .typeWriterDiv {
            top: 120px;
            font-size: 10px;
        }
        .jumbotron {
            height: 150px;
        }
        .mobileViewAll {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
        .desktop {
            display: none;
        }
        .page {
            margin-bottom: 250px;
            display: none;
        }
        .basic {
            display: none;
            margin-top: 0px;
        }
        .IOT {
            display: none;
        }
        .arduino {
            display: none;
        }
        .other {
            display: none;
        }
        /* ? >>>>>>>>>>>>>>>>> */
        #navBar {
            display: none;
        }
        #arduinoProject {
            position: relative;
            height: 200px;
        }
        #about {
            margin-top: 40px;
            height: 50vh;
        }
        #font_about {
            font-size: 2vh;
        }
    }