{% extends "template.html" %}
{% block title %} Advertise with us {% endblock %}
{% block content %}
<div class="animated bounceIn alert alert-warning sticky-top" id="alertError" role="alert" style="height:80px; display:none;">
  <strong>Hey user!</strong> please complete the form properly as the instructions menstioned.</strong>
 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="animated bounceIn alert alert-success show sticky-top" id="alertDone" role="alert" style="height:80px;display:block;">
  <strong>Thankyou!!</strong> Form submitted succesfully we willl contact you within 24hrs. 

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <!-- ?end -->
  <!--Start of navbar for guest user  -->



  <!-- end of navbar for guest user -->

  <!-- form  start-->
  <div class="container my-5">
    <!-- <form class="form-group" action="form.py"  onsubmit="return validateForm()" method="POST" name="advertForm" role="form" data-toggle="validator" > -->
      <label for="nameinput">
        <h4>Your name</h4>
      </label>
 
      <div class="row">
        <div class="col" id="nameinput">
          
        <input type="text required" id="firstName" class="form-control" placeholder="First name" autocomplete="off" required>
        <small id="emailHelp" class="form-text text-muted">minimum three character long</small>       
      </div>
        <div class="col">
          <input type="text" id="lastName" class="form-control" placeholder="Last name" autocomplete="off" required>
          <small id="emailHelp" class="form-text text-muted">minimum three character long</small>
        </div>
      </div>
      <div class="form-group my-3">
        <label for="exampleInputEmail1 my-3">
          <h5>Email address</h5>
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="label">
        <h4>what type of advertise you want, please select?</h4>
      </div>


      <div class="btn-group btn-group-toggle my-3" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="onlyText" checked>Only Text
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="withImage"> With Image
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="other"> Other
        </label>
      </div>
      <!-- option for image -->
      
        <div id="File" class="form-group">
          <label for="XFile">Please select the image</label>
          

            <input type="file" accept=".pdf,.jpg,.jpeg,.png" class="form-control-file" id="XFile">
            <small id="file" class="form-text text-muted">only one .jpeg, .jpg, .png, .pdf files are allowed upto 10Mb of size </small>
            <label class="wrongInputFile" id="tooLarge" style="display:none;" for="tooLarge">*Too Large</label>
            <button onclick="upload(this.id)" id="uploadBtn"  type="button" class="btn btn-secondary btn-sm"> 
               <div id="upload">upload</div>
               <div id="error" style="display:none;">Error</div>
               <div id="done" style="display: none;">Done!</div>
              <div class="spinner-border" style="display: none;" id="uploadSpinner" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
       
          <!-- <form action=""></form> -->
        </div>
     
      <!-- text area for other type of  advertisement-->
      <div id="pleaseSpecifyInputDiv" class="form-group my-3">
        <label for="exampleFormControlTextarea1">
          <h4>Please specify</h4>
        </label>
        <textarea class="form-control" id="Specify" rows="3"></textarea>
         <small id="chrCountSpecify" class="form-text text-muted">50 to 200 characters are allowed [0] </small>  
      </div>
      <div id="noImage">
      <div class="form-check" >
        <input class="form-check-input" type="radio" name="exampleRadios6" id="dontHave" value="option1">
        <label id="dontHaveLab" class="form-check-label" for="exampleRadios1">
          i dont have image
        </label>
      </div>
      <div class="form-check" id="have">
        <input class="form-check-input" type="radio" name="exampleRadios6" id="haveImageInp" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          i have image
        </label>
      </div>
    </div>
     
      <h4 id="optLabel"> Do you want us to make one for you?</h4>
      <div class="form-check" id="optForImages">
        <input class="form-check-input" type="radio" name="exampleRadios" id="yes" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Yes
        </label>
      </div>
      <div class="form-check" id="opt2ForImages">
        <input class="form-check-input" type="radio" name="exampleRadios" id="no" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          No, thanks
        </label>
      </div>
      <div class="form-group my-3">
        <label for="exampleFormControlTextarea1">
          <h4>Please tell something about your advertisement?</h4>
        </label>
        <textarea class="form-control" id="tellSomething" rows="3" required></textarea>
        <small id="chrCountTellSomething" class="form-text text-muted">50 to 200 characters are allowed [0] </small>  
      </div>

      <button  id="submit" type="button" onclick="validateForm()" class="btn btn-warning">

        <div>Submit</div>
          <div class="spinner-border spinner-border-sm " id="add_btn_spinner" style="display:none; margin:0 auto;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
      </button>
    <!-- </form> -->
  </div>
{% endblock %}  
  <!-- Optional JavaScript -->
  {% block script %}
 
  
  <script src="/static/advertise.js"></script>


  <script>$('.custom-control-input').prop('determinate', true) </script>
  {% endblock %}
