{% extends "dashboard_base_template.html" %} {% block content %}
<div class="container mt-4 text-center" style="margin-left: 15%; width: 85%;">
    <div class="my-5 text-secondary" style="font-size: 8vh; font-weight: bold;">
        Create New Post
    </div>
    <div class="col" style="margin: 0 auto;">
        <div class="row my-3">
            <div class="btn-group btn-group-toggle" style="margin-left: 27.5%;" data-toggle="buttons">
                <h4 class="text-secondary"><b>Type: </b></h4>
                <label class="ml-2 btn btn-outline-secondary active">
          <input type="radio" onclick="typeChecked()"  name="options" id="type_ard" />Arduino project
        </label>
                <label class="btn btn-outline-secondary">
          <input type="radio" onclick="typeChecked()"  name="options" id="type_basic" /> Basic Electronic
          project
        </label>
                <label class="btn btn-outline-secondary active">
          <input type="radio" onclick="typeChecked()"  name="options" id="type_iot" />Iot project
        </label>
                <label class="btn btn-outline-secondary">
          <input type="radio"  onclick="typeChecked()" name="options" id="type_other" /> Other
        </label>
            </div>
        </div>
        <div class="row my-3">
            <div class="btn-group btn-group-toggle" style="margin-left: 26%;" data-toggle="buttons">
                <h4 class="text-secondary"><b>Intend: </b></h4>
                <label class="ml-2 btn btn-outline-secondary active">
          <input type="radio" onclick="intendChecked()" name="options" id="intend_info" />Informational
        </label>
                <label class="btn btn-outline-secondary">
          <input type="radio" onclick="intendChecked()" name="options" id="intend_tuto" /> Tutorial
        </label>
            </div>
        </div>
        <button id="typeS" style="width: 50%; margin-left:33.5%;" onclick="submitCreatePost('type')" class=" mb-5 btn btn-outline-secondary btn-block btn-sm">Submit</button>
    </div>

    <!-- !-----------File upload -->
    <div class="input-group my-3" style="width: 50%; margin: 0 auto;">

        <img width="50%" id="thumbnail" alt="thumbnail not uploaded(250x250)" />
        <input type="file" class="form-control-file" id="thumbnail_uploader">

    </div>

    <button class="mt-1 btn btn-secondary btn-sm" id="thumbnailS" onclick="uploadImg('thumbnail','0')">upload thumbnail</button>

    <!-- !-----------File COVER IMAGE upload -->
    <div class="input-group my-3" style="width: 50%; margin: 0 auto;">

        <img width="50%" id="cover" alt="Cover image not uploaded" />
        <input type="file" class="form-control-file" id="cover_image_uploader">

    </div>

    <button class="mt-1 btn btn-secondary btn-sm" id="coverS" onclick="uploadImg('cover','0')">upload cover-img</button>

    <div class="form-group my-3">
        <label class="text-secondary" for="coverImgDescription"><b>Cover Image description</b></label>
        <textarea placeholder="This description is used in the alt tag of cover Image and thumbnail" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="coverImgDescription" rows="1"></textarea>
        <button id="coverImgDescriptionS" onclick="submitCreatePost('coverImgDescription')" class="mt-3 btn btn-secondary btn-sm">Submit</button>
    </div>
    <!-- !--------------------keyword-------------- -->


    <div class="form-group my-5">
        <label class="text-secondary" for="description"><b>keyword</b></label>
        <textarea placeholder="This keyword is used to suggest related posts" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="keyword" rows="1"></textarea>
        <button id="keywordS" onclick="submitCreatePost('keyword')" class="mt-3 btn btn-secondary btn-sm">Submit</button>
    </div>
    <!-- * URL--------------------- --}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}-->
    <div class="form-group my-5">
        <label class="text-secondary" for="description"><b>url</b></label>
        <textarea placeholder="enter the page url here" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="url" rows="1"></textarea>
        <button id="urlS" onclick="submitCreatePost('url')" class="mt-3 btn btn-secondary btn-sm">Submit</button>
    </div>
    <!--*------------------------------}}}}}}}}}}}}}}}}}}}}}}}}}------- -->

    <!-- * Title--------------------- --}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}-->
    <div class="form-group my-5">
        <label class="text-secondary" for="description"><b>Title</b></label>
        <textarea placeholder="enter the page url here" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="title" rows="1"></textarea>
        <button id="titleS" onclick="submitCreatePost('title')" class="mt-3 btn btn-secondary btn-sm">Submit</button>
    </div>
    <!--*------------------------------}}}}}}}}}}}}}}}}}}}}}}}}}------- -->
    <!-- * Keywords for SEO--------------------- --}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}-->
    <div class="form-group my-5">
        <label class="text-secondary" for="description"><b>Keywords for meta tag</b></label>
        <textarea placeholder="enter the keyword seprating from commas(,) here" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="keywordsMeta" rows="1"></textarea>
        <button id="keywordsMetaS" onclick="submitCreatePost('keywordsMeta')" class="mt-3 btn btn-secondary btn-sm">Submit</button>
    </div>
    <!--*------------------------------}}}}}}}}}}}}}}}}}}}}}}}}}------- -->

    <!-- !-------------Heading -->

    <div class="form-group my-5">
        <label class="text-secondary" for="description"><b>Heading</b></label>
        <textarea id="heading" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" rows="1"></textarea>
        <button id="headingS" onclick="submitCreatePost('heading')" class="mt-3 btn btn-secondary btn-sm">Submit</button>
    </div>
    <!-- !---------Description -->
    <div class="form-group">
        <label class="text-secondary" for="description"><b>meta-Description</b></label>
        <textarea class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="description" rows="3"></textarea>
        <button id="descriptionS" onclick="submitCreatePost('description')" class="mt-3 btn btn-secondary btn-sm">Submit</button>
    </div>
    <!-- !-----------Quick questions -->
    <div class="text-secondary mt-5" style="font-size: 6vh; font-weight: bold;">
        Quick questions
    </div>
    <div class="form-group mt-2" id="conta_quick_answers">
        <div id="quickAnswers1">

            <label class="text-secondary" for="description"><b>Question</b></label>
            <textarea id="quick_question1" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="description" onblur="backup('quick_question','1')" rows="1"></textarea>
            <label class="text-secondary mt-3" for="description"><b>Answer</b></label>
            <textarea id="quick_answer1" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="description" onblur="backup('quick_answer','1')" rows="2"></textarea>

        </div>
    </div>
    <button onclick="deletePrev('quickAnswers')" id="quickAnswersDelete" class="mb-3 btn btn-danger btn-sm" style="display: none;">-</button>
    <button id="quickAnswersS" onclick="submitCreatePost('quickAnswers')" class="mb-3 btn btn-secondary btn-sm">Submit</button>
    <button onclick="addNew('quickAnswers')" class="mb-3 btn btn-dark btn-sm">+</button>
    <!-- ! ------------------Index------>
    <div class="form-group" id="conta_index">
        <div class="text-secondary" style="font-size: 6vh; font-weight: bold;">
            Index
        </div>

        <div class="input-group mb-2 mr-sm-2" id="indexDiv1" style="width: 50%; margin-left: 26%;">
            <div class="input-group-prepend">
                <div class="input-group-text">1</div>
            </div>
            <input type="text" id="index1" onblur="backup('index','1')" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Heading" />
        </div>
    </div>
    <button onclick="deletePrev('index')" id="indexDelete" class="mb-3 btn btn-danger btn-sm" style="display: none;">-</button>
    <button id="indexS" onclick="submitCreatePost('index')" class="mb-3 btn btn-secondary btn-sm">Submit</button>
    <button onclick="addNew('index')" class="mb-3 btn btn-dark btn-sm">+</button>
    <!-- !-------paragraph -->
    <div class="form-group mt-5" id="contaPara">
        <div class=" text-secondary" style="font-size: 6vh;font-weight:bold">Paragraphs/Steps</div>
        <div id="paraDiv1">

            <label class="text-secondary mt-2" for="para_heading1"><b>Subheading</b></label>
            <textarea class="form-control" onblur="backup('para_heading','1')" style="width: 50%; margin:0 auto;border-width:5px;" id="para_heading1" rows="1"></textarea>
            <label class="text-secondary mt-2" for="para_imgDescription1"><b>Image Description</b></label>
            <textarea class="form-control" onblur="backup('para_imgDescription','1')" style="width: 50%; margin:0 auto;border-width:5px;" id="para_imgDescription1" rows="1"></textarea>
            <label class="text-secondary mt-3 " for="para1"><b>Para</b></label>
            <textarea class="form-control" onblur="backup('para',1)" style="width: 50%; margin:0 auto;border-width:5px;" id="para1" rows="4"></textarea>
            <!-- *---upload image -->
            <img class="mt-3" id="paraImg1" width="40%" alt="upload image">
            <h5 class="text-secondary mt-1">Preview</h5>
            <div class="input-group my-3" style="width: 50%; margin: 0 auto;">


                <input type="file" class="form-control-file" id="paraImgUploader1">
                <button class="mt-1 btn btn-secondary btn-sm" onclick="uploadImg('para','1')">upload</button>
            </div>

        </div>
    </div>
    <button onclick="deletePrev('para')" id="paraDelete" class="mb-3 btn btn-danger btn-sm" style="display: none;">-</button>
    <button id="paraS" onclick="submitCreatePost('para')" class="mb-3 btn btn-secondary btn-sm">Submit</button>
    <button onclick="addNew('para')" class="mb-3 btn btn-dark btn-sm">+</button>
    <!-- !------------------Table--------------- -->
    <button id="table" style="width: 30%; margin:0 auto;" onclick="addTable()" class="my-5 btn btn-outline-dark btn-sm btn-block ">Add table</button>
    <div id="tableDiv" style="display: none;">
        <textarea class="form-control" placeholder="No of Rows" style="width: 50%; margin: 0 auto; border-width: 5px;" id="rowNo" rows="1"></textarea>
        <button id="enter" onclick="enterTableRows()" class="my-3 btn btn-secondary btn-sm ">Enter</button>

        <table class="table table-bordered" id="tableMain" style="display: none;">
            <thead>
                <tr id="head">
                    <th scope="col">Sno</th>
                    <th scope="col"><input id="heading1" class="form-control" type="text" placeholder="   Heading1" name="" value=""></th>
                    <th scope="col"><input id="heading2" class="form-control" type="text" placeholder="   Heading2" name="" value=""></th>

                </tr>
            </thead>
            <tbody id="tableContent">
                <tr>
                    <th scope="row">1</th>
                    <td><input id="row1_1" class="form-control" type="text" name="" value=""></td>
                    <td><input id="row1_2" class="form-control" type="text" name="" value=""></td>

                </tr>



            </tbody>
        </table>
        <button style="display: none;" id="tableS" onclick="submitCreatePost('table')" class="mb-3 btn btn-secondary btn-sm">Submit</button>
    </div>

    <!-- !Source Code -->
    <div class="form-group mt-5" id="contaCode">
        <div id="codeDiv1">
            <div class=" text-secondary" style="font-size: 6vh;font-weight:bold">Source Code(if any)</div>

            <textarea class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="codeHeading1" placeholder="Heading" onblur="backup('codeHeading','1')" rows="1"></textarea>
            <textarea class="form-control" placeholder="Source-code" style="width: 50%; margin: 0 auto; border-width: 5px;" id="code1" onblur="backup('code','1')" rows="9"></textarea>
            <textarea onblur="backup('language','1')" placeholder="Language of code" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="language1" rows="1"></textarea>

        </div>
    </div>
    <button onclick="deletePrev('code')" id="codeDelete" class="mb-3 btn btn-danger btn-sm" style="display: none;">-</button>
    <button id="codeS" onclick="submitCreatePost('code')" class="mb-3 btn btn-secondary btn-sm">Submit</button>
    <button onclick="addNew('code')" class="mb-3 btn btn-dark btn-sm">+</button>
    <!-- ! Coclusion -->
    <div class="form-group mt-5">
        <div class=" text-secondary" style="font-size: 6vh;font-weight:bold">Conclusion</div>

        <textarea class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="conclusion" rows="3"></textarea>
        <button id="conclusionS" onclick='submitCreatePost("conclusion")' class="mt-3 btn btn-secondary btn-sm">Submit</button>
    </div>
    <!-- !-----------------FAQ  -->
    <div class="form-group mt-5" id="contaFaq">
        <div class="text-secondary" style="font-size: 6vh; font-weight: bold;">
            FAQ
        </div>
        <div id="faq1">

            <label class="text-secondary mt-2" for="description"><b>Question</b></label>
            <textarea id="faq_q1" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="description" rows="1" onblur="backup('faq_q','1')"></textarea>
            <label class="text-secondary mt-3" for="description"><b>Answer</b></label>
            <textarea id="faq_ans1" class="form-control" style="width: 50%; margin: 0 auto; border-width: 5px;" id="description" onblur="backup('faq_ans','1')" rows="2"></textarea>


        </div>
    </div>
    <button onclick="deletePrev('faq')" id="faqDelete" class="mb-3 btn btn-danger btn-sm" style="display: none;">-</button>
    <button onclick="submitCreatePost('faq')" id="faqS" class="mb-3 btn btn-secondary btn-sm">Submit</button>
    <button onclick="addNew('faq')" class="mb-3 btn btn-dark btn-sm">+</button>


    <form action="/save_draft" method="post">
        <button id="publishBtn" type="submit" class="btn btn-outline-dark btn-block my-2 btn-lg" style="width: 60%; margin-left:20%;">Save As Draft</button>
    </form>
</div>

{% endblock %} {% block script %}
<script>
    $('#cover_image_uploader ').on('change', function() {
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })
</script>

{% endblock %}