 {% extends "template.html" %} {% block title %} Engineering Project {% endblock %} {% block content %}
<!-- Parallex effect -->
<div class="parallexOne">
    <div class="typing">
        <h1 class="text-center welcome">Welcome</h1>
    </div>
    <div class="text-center typeWriterDiv">
        <h1 id="typeWriter">:</h1>
    </div>
    <div>



        <div class="text-center justify-item-center" style="margin-top: 190px;">

            <input type="email" style="width: 70%;margin:0 auto;" onblur="validateEmail(this.id,'subscribeBtn')" id="sEmail" class="form-control" placeholder="E-mail">
            <button type="button" id="subscribeBtn" onclick="subscribe('D')" class="btn btn-outline-warning" style="font-family: 'Roboto Slab', serif; margin-top: 20px;">
        <div>Subscribe</div>
        <div class="spinner-border spinner-border-sm " id="subs_btn_spinner" style="display:none; margin:0 auto;"
          role="status">
          <span class="sr-only">Loading...</span>
        </div>

      </button>
        </div>
        </form>
    </div>


</div>

<!-- ?Latest POst Section Start ---------------------------------------------------------------->

<div class="jumbotronHeadingIndex">
    <span class="jumbotronTextIndex">
            <h1>Latest Posts :- </h1>
        </span>
</div>
<div style="margin-top: 5px;" class="band">
    {% for db in latest_posts %}
    <div class="item-{{loop.index}}">
        <a href="{{db.url}}" target="_blank" class="card">
            <div class="thumb" id="thumbLatest{{loop.index}}"></div>
            <article>
                <h1>How to Conduct Remote Usability Testing{{db.heading}}</h1>
                <p>{{db.description}}</p>
                <span>2020-6-12</span>
            </article>
        </a>
    </div>

    {% endfor %}
</div>






<!-- arduino Project Section------------------------------------------------------------------------------>

<div id="arduinoProject" class="jumbotronHeadingIndex">
    <span class="jumbotronTextIndex">
            <h1>Arduino Projects: </h1>
        </span>
</div>
<div style="margin-top: 5px;margin-bottom:10px;" class="band">
    {% for db in arduino_project.items %}
    <div class="item-{{loop.index}}">
        <a href="{{db.url}}" target="_blank" class="card">
            <div class="thumb" id="thumbArduino{{loop.index}}"></div>
            <article>
                <h1>How to Conduct Remote Usability Testing{{db.heading}}</h1>
                <p>{{db.description}}</p>
                <span>2020-6-12</span>
            </article>
        </a>
    </div>

    {% endfor %}
</div>
<section style="margin-left: 7%;" class="color-8">
    <nav class="cl-effect-7">
        <a href="/arduino-projects-page/1" target="_blank">SEE ALL : <img style="margin-bottom: 10px;" src="https://img.icons8.com/metro/26/000000/external-link.png"/></a>

    </nav>
</section>

<!-- ---------------------------------------------------------------------------------------endArduino projects -->
<!-- Start basic projects -->
<div id="basicElectronics" class="jumbotronHeadingIndex">
    <span class="jumbotronTextIndex">
            <h1>Basic Electronics Projects: </h1>
        </span>
</div>
<div style="margin-top: 5px;margin-bottom:10px;" class="band">
    {% for db in basic_project.items %}
    <div class="item-{{loop.index}}">
        <a href="{{db.url}}" target="_blank" class="card">
            <div class="thumb" id="thumbBasic{{loop.index}}"></div>
            <article>
                <h1>How to Conduct Remote Usability Testing{{db.heading}}</h1>
                <p>{{db.description}}</p>
                <span>2020-6-12</span>
            </article>
        </a>
    </div>

    {% endfor %}
</div>
<section style="margin-left: 7%;" class="color-8">
    <nav class="cl-effect-7">
        <a href="/basic-projects-page/1" target="_blank">SEE ALL : <img style="margin-bottom: 10px;" src="https://img.icons8.com/metro/26/000000/external-link.png"/></a>

    </nav>
</section>
<div id="IOTProjects" class="jumbotronHeadingIndex">
    <span class="jumbotronTextIndex">
            <h1>IOT Projects: </h1>
        </span>
</div>
<div style="margin-top: 5px;margin-bottom:10px;" class="band">
    {% for db in iot_project.items %}
    <div class="item-{{loop.index}}">
        <a href="{{db.url}}" target="_blank" class="card">
            <div class="thumb" id="thumbIot{{loop.index}}"></div>
            <article>
                <h1>How to Conduct Remote Usability Testing{{db.heading}}</h1>
                <p>{{db.description}}</p>
                <span>2020-6-12</span>
            </article>
        </a>
    </div>

    {% endfor %}
</div>
<section style="margin-left: 7%;" class="color-8">
    <nav class="cl-effect-7">
        <a href="/iot-projects-page/1" target="_blank">SEE ALL : <img style="margin-bottom: 10px;" src="https://img.icons8.com/metro/26/000000/external-link.png"/></a>

    </nav>
</section>
<div id="otherPost" class="jumbotronHeadingIndex">
    <span class="jumbotronTextIndex">
            <h1>Other Tech Posts: </h1>
        </span>
</div>
<div style="margin-top: 5px;margin-bottom:10px;" class="band">
    {% for db in other_project.items %}
    <div class="item-{{loop.index}}">
        <a href="{{db.url}}" target="_blank" class="card">
            <div class="thumb" id="thumbOther{{loop.index}}"></div>
            <article>
                <h1>How to Conduct Remote Usability Testing{{db.heading}}</h1>
                <p>{{db.description}}</p>
                <span>2020-6-12</span>
            </article>
        </a>
    </div>

    {% endfor %}
</div>
<section style="margin-left: 7%;" class="color-8">
    <nav class="cl-effect-7">
        <a href="/tech-posts-page/1" target="_blank">SEE ALL : <img style="margin-bottom: 10px;" src="https://img.icons8.com/metro/26/000000/external-link.png"/></a>

    </nav>
</section>


<!-- !-------ABOUT ME PAGE--------------------------------------------------------------------------------------------------About Me page -->

<div id="about" class="jumbotronHeadingAbout ">

    <div>About :</div>
    <p>{{txt}}<br>for any query or message :<a href="#footerMessageEmailInput" "><b> Contact Me</b></a> or email at <b><i>contact@engineeringproject.net</i></b></p>
   

</div>



<!-- Optional JavaScript -->
{% endblock %} {% block script %}

<script src="/static/main.js "></script>

<script src="/static/message.js "></script>
<script>
    $('#exampleModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var recipient = button.data('whatever')
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })

</script>
<script>
    console.log("IN SCRIPT FOR IMAGE INSERTIOn ")

    var thumbnails = `{{arduino_thumbnails|safe}}`
    var arduino_thumbnails = JSON.parse(thumbnails)
    var imgs = arduino_thumbnails.imgs
    for (const key in imgs) {
        if (imgs.hasOwnProperty(key)) {
            const element = imgs[key];
            console.log(`thumbArduino${parseInt(key)+1}`, `url(/static/images/${element})`)
            document.getElementById(`thumbArduino${parseInt(key)+1}`).style.backgroundImage = `url('/static/images/${element}')`

        }
    }
    thumbnails = `{{basic_thumbnails|safe}}`
    var basic_thumbnails = JSON.parse(thumbnails)
    imgs = basic_thumbnails.imgs
    for (const key in imgs) {
        if (imgs.hasOwnProperty(key)) {
            const element = imgs[key];
            console.log(`thumb${parseInt(key)}`, `url(/static/images/${element})`)
            document.getElementById(`thumbBasic${parseInt(key)+1}`).style.backgroundImage = `url(/static/images/${element})`

        }
    }
    thumbnails = `{{iot_thumbnails|safe}}`
    var iot_thumbnails = JSON.parse(thumbnails)
    imgs = iot_thumbnails.imgs
    for (const key in imgs) {
        if (imgs.hasOwnProperty(key)) {
            const element = imgs[key];
            document.getElementById(`thumbIot${parseInt(key)+1}`).style.backgroundImage = `url(/static/images/${element})`

        }
    }
    thumbnails = `{{other_thumbnails|safe}}`
    var other_thumbnails = JSON.parse(thumbnails)
    imgs = other_thumbnails.imgs
    for (const key in imgs) {
        if (imgs.hasOwnProperty(key)) {
            const element = imgs[key];
            document.getElementById(`thumbOther${parseInt(key)+1}`).style.backgroundImage = `url(/static/images/${element})`

        }
    }
    thumbnails = `{{latest_thumbnails|safe}}`
    var latest_thumbnails = JSON.parse(thumbnails)
    imgs = latest_thumbnails.imgs
    for (const key in imgs) {
        if (imgs.hasOwnProperty(key)) {
            const element = imgs[key];
            document.getElementById(`thumbLatest${parseInt(key)+1}`).style.backgroundImage = `url(/static/images/${element})`

        }
    }
</script>

{% endblock %}