{% extends "template.html" %} {% block title %} {{post_db.meta_title}} {% endblock title %} {% block meta_tags %}
<meta name="description" content="{{post_db.description}}">
<meta name="keyword" content="{{post_db.meta_keywords}}"> {% endblock meta_tags %} {% block content %}
<style>

</style>
<section class="blogPost">
    <div class="jumbotronHeading">
        <span class="jumbotronText">
            <h1>{{post_db.heading}} </h1>
        </span>
    </div>
    <div id="coverImgDiv">
        <img class="coverImg" src="/static/images/{{post_db.cover_img}}" alt="{{post_db.img_description}}">
    </div>
    {% if post_db.quick_answers %}

    <div class="quickQuesions">
        <ul class="questionList">
            {% for db in post_db.quick_answers %}

            <li>

                <h3>{{db.ques}}</h3>
                <p class="quickAns">{{db.ans}}</p>
            </li>
            {% endfor %}

        </ul>
    </div>

    {% endif %}

    <div id="indexListDiv">
        <h1>Table of Contents</h1>
        <ul class="indexList">
            {% for db in post_db.index %}

            <li><a href="#para{{loop.index}}">{{db.topic}}</a></li>

            {% endfor %}

        </ul>
    </div>

    <div id="paragraphs">

        {{post_db.paragraphs.content|safe}}

    </div>


    {% if post_db.code %}

    <div id="code">
        <h1>Source Code</h1>
        {% for db in post_db.code %}
        <h2>{{db.heading}}</h2>
        <pre><code style="position: relative;z-index:0" class="language-{{db.language}}">
                {{db.code}}
            </code></pre> {% endfor %}
    </div>

    {% endif %} {% if post_db.faq %}

    <div id="faq">
        <h1>FAQ</h1>
        {% for db in post_db.faq %}

        <section class="accordion">
            <input type="checkbox" name="collapse{{loop.index}}" id="handle{{loop.index}}">
            <h2 class="handle">
                <label for="handle{{loop.index}}">{{db.faq_q}}</label>
            </h2>
            <div class="contentCollapse">
                <p>{{db.faq_ans}}</p>
            </div>
        </section>
        {% endfor %}

    </div>
    {% endif %}
    <hr style="margin-top: 4%;">

    <!-- !90000000000000000000000000000000000000000000000000000000000000000000000000 -->

    <!-- !00000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
    {% if related_post %}
    <h1 class="headingRelated">Related Post</h1>

    {% endif %} {% for db in related_post %}
    <div id="relatedPost">

        <div class="cardCustom card-{{loop.index}}">
            <div id="cardImgRelated{{loop.index}}" style="background-image: url('/static/images/{{db.thumbnail}}');" class="card-img"></div>

            <a href="{{db.url}}" target="_blank" class="card-link">
                <div id="cardImgHoveredRelated{{loop.index}}" style="background-image: url('/static/images/{{db.thumbnail}}');" class="card-img-hovered"></div>
            </a>
            <div class="card-info">
                <div class="card-about">
                    <a class="card-tag tag-news">{{db.type}}</a>
                    <div class="card-time">{{db.date}}</div>
                </div>
                <h1 class="card-title">{{db.heading}}</h1>
                <p class="card-para">{{db.description}}</p>

            </div>
        </div>

        {% endfor %}

    </div>
    {% if latest_posts %}

    <h1 class="headingRelated">Recent Post</h1>

    <div id="recentPost">
        {% for db in latest_posts %} {% if db %}

        <div class="cardCustom card-{{loop.index}}">
            <div id="cardImgRecent{{loop.index}}" style="background-image: url('/static/images/{{db.thumbnail}}');" class="card-img"></div>

            <a href="{{db.url}}" target="_blank" class="card-link">
                <div id="cardImgHoveredRecent{{loop.index}}" style="background-image: url('/static/images/{{db.thumbnail}}');" class="card-img-hovered"></div>
            </a>
            <div class="card-info">
                <div class="card-about">
                    <a class="card-tag tag-news">{{db.type}}</a>
                    <div class="card-time">{{db.date}}</div>
                </div>
                <h1 class="card-title">{{db.heading}}</h1>
                <p class="card-para">{{db.description}}</p>

            </div>
        </div>

        {% endif %} {% endfor %}

    </div>
    {% endif %}



</section>
{% endblock %} {% block script %}
<script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5ed63d1c5d871a001228b099&product=sticky-share-buttons"></script>
<script>
    var table = document.getElementsByTagName('table')
    console.log(table[0])
</script>


{% endblock %}