{% extends "template.html" %} {% block content %}

<div style="height: 40vh;" class="jumbotron jumbotron-fluid text-dark">
    <div class="container text-center">
        <div class="display-4" style="font-size: 10vh;"> <strong>

            {{other_post_db.heading}}
        </strong>
        </div>
        <p class="lead" style="font-size: 5vh;">{{other_post_db.description}}</p>
    </div>
</div>


{% if other_post_db.thumbnail %}
<div class="text-center">

    <img class="img-fluid" src="/static/images/{{other_post_db.thumbnail}}" alt="Responsive_image" srcset="" style="height:90vh">
</div>
{% endif %} {% if other_post_db.quick_answers %}
<div class="container my-5 text-left" id="quick_answers">
    {% for QA in other_post_db.quick_answers %}
    <div class="media text-secondary">
        <div class="media-body mt-4">
            <blockquote class="blockquote">
                <h5><b> {{QA.ques}}</b></h5>

                {{ QA.ans}}
            </blockquote>
        </div>
    </div>
    {% endfor %}

</div>
{% endif %}

<div class="text-left container mt-5" id="index">
    <div style="font-size: 7vh;" class="text-dark "><strong>    Contents</strong> </div>
    <ul class="ml-4 mt-3 list-styled ">
        {% for index in other_post_db.index %}
        <li>
            <a style="font-size: 4vh;" href="#topic{{loop.index}}" class="text-dark strecthed-link">{{index.topic}}</a>
        </li>
        {% endfor %}

    </ul>
</div>

<div class="container my-5" id="content">
    {% for content in other_post_db.content_parts %}
    <div style="font-size: 8vh;" class="text-dark mt-5" id="topic{{loop.index}}">{{content.heading}}</div>
    <p>{{content.para}}</p>
    {% if content.img %}

    <img src="/static/images/{{content.img}}" class="mt-2 img-fluid" id="contentOtherImg{{content.id}}" alt="Responsive image" style="height:80vh;margin:0 auto;display:block;"> {% endif %} {% endfor %}
</div>

{% if other_post_db.comparison_table %}

<div class="container mt-5" id="table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Sno</th>
                <th scope="col">{{other_post_db.Tableheading1}}</th>
                <th scope="col">{{other_post_db.Tableheading2}}</th>

            </tr>
        </thead>
        <tbody>
            {% for table in other_post_db.comparison_table %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{table.head1_point}}</td>
                <td>{{table.head2_point}}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endif %} {% if other_post_db.conclusion %}
<div class="container mt-5" id="conclusion">
    <div class="text-secondary " style="font-size: 7vh;"><b>Conclusion</b></div>
    <p><i>{{other_post_db.conclusion.text}}</i></p>

</div>
{% endif %}
<hr> {% if other_post_db.faq %}
<div class="container mt-5" id=faq>
    <h1 class="text-dark ml-1">FAQ</h1>
    {% for faq in other_post_db.faq %}
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="heading{{loop.index}}">
                <h2 class="mb-0">
                    <button class="text-secondary btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
         Q. {{faq.faq_q}}
        </button>
                </h2>
            </div>

            <div id="collapse{{loop.index}}" class="collapse ml-3" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    {{faq.faq_ans}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %} {% if related_post %}

<div class="container">

    <h1><b>Realted Posts</b></h1>
</div>
{% endif %}

<div class="desktop">

    <div class="container mt-3">

        <div class="row conten-center">

            {% for db in related_post %}
            <div class="col">
                <div class="card" id="Othercard{{loop.index}}" style="width: 14rem; ">
                    <img src="/static/images/{{db.thumbnail}}" style="height:20%;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 id="Otherhead{{loop.index}}">{{db.heading}}</h3>
                        <p class="card-text" id='Otherdesc{{loop.index}}'>{{db.description}}</p>
                        <a href="/Read_more_Other/{{db.id}}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>


{% if related_post %}
<div class="mobile container">
    <!-- todo FOR mobile same as index page -->
    <div class="mobileViewAll">

        <div class="mobContainer mobArd" id="mobOther">
            <div class="postMobile mt-3">
                {%for db in related_post %}
                <img src="/static/images/{{db.thumbnail}}" class="thumbnailMob " alt="">
                <div class="mobViewContent">
                    <h3>{{db.heading}}
                    </h3>
                    <p>{{db.description}}</p>
                    <a href="/Read_more_Other/{{db.id}}" class="streached-link">Read More..</a>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>
{% endif %} {% endblock %} {% block script %}

<script src="/static/readMore.js"></script>

{% endblock %}