<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
</head>
<ul>
    <li><b>    {{description}}</b>=description,</li>
    <li><b>    {{type}}</b>=type_,</li>
    <li><b>    {{heading}}</b>=heading,</li>
    <li><b>    {{thumbnail}}</b>=thumbnail,</li>
    <li><b>    {{cover_image}}</b>=cover_image,</li>
    <li><b>    {{title}}</b>=title,</li>
    <li><b>    {{cover_image_description}}</b>=cover_image_description,</li>
    <li><b>    {{url}}</b>=url,</li>
    <li><b>    {{quickAnsweers}}</b>=quick_answers,</li>
    <li><b>    {{quickQuestions}}</b>=quick_questions,</li>
    <li><b>    {{faq_ans}}</b>=faq_ans,</li>
    <li><b>    , {{faq_q}}</b>=faq_q,</li>
    <li><b>    {{meta_keywords}}</b>=meta_keywords</li>
    <li><b>    {{index}}</b>=index,</li>

    <li><b>    {{cover_image}}</b>=cover_image,</li>
    <li>
        <b>    {{keyword}}</b>=keyword
    </li>
</ul>

<body></body>

</html>